{% extends 'index.html' %}
{% load static %}

{% block title %}{{ producto.nombre }}{% endblock title %}

{% block categoria_producto %}
{% endblock categoria_producto %}

{% block contenido %}
<div class="container">
    <div class="container-carrito">
        <div class="productos-carrito">
            <h2>Carrito de Compras</h2>
            <h5 id="cantidad-productos">Productos en el carrito: </h5>
            <ul id="lista-carrito">
            </ul>
            
        </div>
        <div class="footer-carrito">
            <div class="vaciar-carrito">
                <input id="vaciar-carrito" value="Vaciar Carrito" class="btn btn-danger" onclick="vaciarCarrito()">
            </div>
            <div class="total">
                <h5 id="total-carrito">Total: </h5>
            </div>
            <div class="opciones-carrito">
                <a href="{% url 'index' %}"  class="btn btn-primary me-3">Volver al Inicio</a>
                <form action="" method="POST" id="formids">
                    {% csrf_token %}
                    <div class="campos" id="inputs">
                    </div>
                    <input class="btn btn-as " type="submit" name="pagar" value="Pagar" onclick="vaciarCarrito()" id="pagar">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let productos_json = '{{productos_json|safe}}';
</script>
{% endblock contenido %}
